// branding
$color-primary: #006E62;
$color-accent-one: #F68D2D;
$color-accent-two: #E64B37;
$color-accent-three: #F2C317;
$color-primary-light: #CCDDDB;
$color-primary-lighter: #EDF3F3;
$color-primary-lightest: #F9FBFB;

// base
$black: #3E4846;
$white: #FFFFFF;
$grey: #9EA3A2;

// state
$color-disabled-text: #ccc;

// error
$color-state-error: #E64B37;
$color-state-error-dark: #CA2E20;
$color-state-error-medium: #EB7667;
$color-state-error-light: #F4CFCA;

// information
$color-state-info: #F2C317;
$color-state-info-dark: #DFB315;
$color-state-info-medium: #F4D04F;
$color-state-info-light: #F7EDC2;

// success
$color-state-success: #00A562;
$color-state-success-dark: #00844E;
$color-state-success-medium: #7CD0AE;
$color-state-success-light: #BAE5D5;
