.float-left {
	float: left;
}

.float-right {
	float: right;
}

.align-left, .left {
	text-align: left;
}

.align-right, .right {
	text-align: right;
}

.align-center, .center {
	text-align: center;
}