button {
    @include setType(16, 0);
    @extend .anchor;

    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-family: $font-regular;
    padding: 0;

}

*[role="button"] {
    @extend button;
}

.pae-btn, .btn {
    @extend .truncate;

    background-color: $color-button-default-bg;
    border-radius: $button-border-radius;
    box-shadow: $box-shadow;
    color: $color-state-active;
    font-family: $font-regular;
    margin: 24px 0;
    min-width: 0;
    padding: 12px 1.5rem;
    text-align: center;
    transition: .25s all;
    width: 100%;

    &[disabled] {
        background-color: $color-button-default-disabled-bg;
        border-color: $color-button-default-disabled-border;
        color: $color-button-default-disabled-text;
        cursor: default;
    }

    &:hover:not([disabled]),
    &:focus:not([disabled]),
    &.pae-active,
    &.active {
        background-color: darken($color-button-default-bg, 10%);
        box-shadow: none;
        color: $color-state-active;
        outline: none;
    }

    &.pae-btn-neutral,
    &.btn-neutral {
        background-color: $color-button-neutral-bg;
        border-color: $color-button-neutral-border;
        color: $color-button-neutral-text;

        &[disabled] {
            background-color: $color-button-neutral-disabled-bg;
            border-color: $color-button-neutral-disabled-border;
            color: $color-button-neutral-disabled-text;
        }

        &:hover:not([disabled]),
        &:focus:not([disabled]),
        &.pae-active,
        &.active {
            background-color: darken($color-button-neutral-bg, 5%);
            color: $color-button-neutral-text;
        }
    }

    &.pae-btn-error,
    &.btn-error {
        background-color: $color-button-error-bg;
        border-color: $color-button-error-border;
        color: $color-button-error-text;

        &[disabled] {
            background-color: $color-button-error-disabled-bg;
            border-color: $color-button-error-disabled-border;
            color: $color-button-error-disabled-text;
        }

        &:hover:not([disabled]),
        &:focus:not([disabled]),
        &.pae-active,
        &.active {
            background-color: darken($color-button-error-bg, 10%);
            color: $color-button-error-text;
        }
    }

    &.pae-btn-info,
    &.btn-info {
        background-color: $color-button-info-bg;
        border: none;
        color: $color-button-info-text;

        &[disabled] {
            background-color: $color-button-info-disabled-bg;
            border-color: $color-button-info-disabled-border;
            color: $color-button-info-disabled-text;
        }

        &:hover:not([disabled]),
        &:focus:not([disabled]),
        &.pae-active,
        &.active {
            background-color: darken($color-button-info-bg, 10%);
            color: $color-button-info-text;
        }
    }

    &.pae-btn-success,
    &.btn-success {
        background-color: $color-button-success-bg;
        border-color: $color-button-success-border;
        color: $color-button-success-text;

        &[disabled] {
            background-color: $color-button-success-disabled-bg;
            border-color: $color-button-success-disabled-border;
            color: $color-button-success-disabled-text;
        }

        &:hover:not([disabled]),
        &:focus:not([disabled]),
        &.pae-active,
        &.active {
            background-color: darken($color-button-success-bg, 10%);
            color: $color-button-success-text;
        }
    }


    @include mediaQuery(map-get($grid-breakpoints, small)) {
        width: auto;
    }
}

.pae-button-group, .button-group {
    display: flex;
    width: 100%;

    .pae-btn, .btn {
        border-right: 0;
        border-radius: 0;

        &:first-child {
            border-radius: 8px 0 0 8px;
        }

        &:last-child {
            border-radius: 0 8px 8px 0;
        }
    }

    .pae-btn-neutral, .btn-neutral {
        &:last-child {
            border-right: 1px solid $color-button-neutral-border;
        }
    }

    .pae-btn-error, .btn-error {
        &:last-child {
            border-right: 1px solid $color-button-error-border;
        }
    }

    .pae-btn-info, .btn-info {
        &:last-child {
            border: none;
        }
    }

    .pae-btn-succes, .btn-success {
        &:last-child {
            border-right: 1px solid $color-button-success-border;
        }
    }
}

.pae-radio-select,
.radio-select,
.pae-checkbox-select,
.checkbox-select {
    @extend .clearfix;
    @extend .truncate;

    border-radius: $button-border-radius;
    display: flex;
    margin: 24px 0;
    overflow: hidden;

    .pae-option-label, .option-label {
        @extend .btn;

        border-radius: 0;
        border-right: 0;
        cursor: pointer;
        margin: 0;

        &:hover,
        &:focus {
            background-color: $color-button-default-bg;
        }
    }

    .pae-option, .option {
        float: left;

        &:first-child {
            .pae-option-label,
            .option-label {
                border-radius: $button-border-radius 0 0 $button-border-radius;
            }
        }

        &:last-child {
            .pae-option-label,
            .option-label {
                border-radius: 0 $button-border-radius $button-border-radius 0;
                border-right: 1px solid;
            }
        }
    }

    .pae-option-control, .option-control {
        appearance: none;
        margin: 0;
        position: absolute;
        left: -9999em;

        &:checked {
            + .pae-option-label,
            + .option-label {
                background-color: $color-state-active;
                color: $white;
            }
        }
    }
}
