%field-default {
    appearance: none;
    background-color: $field-background-color;
    border: 1px solid $field-border-color;
    border-radius: $field-border-radius;
    box-shadow: none;
    color: $field-text-color;
    margin: 6px 0;
    padding: 0 1rem;
    width: 100%;

    &:focus {
        box-shadow: 0 0 4px $color-border;
        outline: none;
    }

    &::-webkit-input-placeholder {
        color: $field-text-color;
    }
}

fieldset {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $fieldset-border-color;
    margin: $typesetter-baseline + px 0;
    padding: 0;
}

legend {
    font-family: $font-regular;
    font-size: 1rem;

    + p {
        margin-top: 0;
    }
}

label {
    color: $grey;
    font-family: $font-regular;
    font-size: 0.875rem;
    margin: 0;
}

input[type="text"], input[type="email"] {
    @extend %field-default;

    height: 42px;

    &:focus {
        box-shadow: $field-input-focus-box-shadow;
    }

    &.pae-error, &.error {
        font-style: normal;
        border: 1px solid $color-state-error-medium;
    }
}

input[placeholder] {
    font-family: $font-light;
}

textarea {
    @extend %field-default;

    font-family: $font-light;
    height: 96px;
    padding-top: 12px;
    padding-bottom: 12px;

    &:focus {
        box-shadow: $field-input-focus-box-shadow;
    }

    &.pae-error, &.error {
        font-style: normal;
        color: $field-text-color;
        border: 1px solid $color-state-error-medium;
    }
}

.pae-select-container, .select-container {
    position: relative;

    &:before, &:after {
        position: absolute;
        content: '';
        display: block;
        right: .5rem;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }

    &:before {
        border-bottom: 5px solid $field-arrow-color;
        top: 17px;
    }

    &:after {
        border-top: 5px solid $field-arrow-color;
        bottom: 17px;
    }

    &.pae-error, &.error {
        select {
            border: 1px solid $color-state-error-medium;
        }
    }
}

select {
    @extend %field-default;

    font-family: $font-light;
    height: 42px;
    padding-right: 36px;

    &:focus {
        box-shadow: $field-input-focus-box-shadow;
    }
}

.pae-label, .label {
    @extend label;
}

.pae-required, .required {
    color: $color-state-error;
    margin: 0 5px 0 0;
}

.pae-checkbox, .checkbox,
.pae-radio, .radio {
    display: block;
    margin: .5em 0;

    input {
        margin: 0 0.5rem 0 0;
        visibility: hidden;
    }

    label {
        color: $black;
        display: inline-block;
        font-family: $font-light;
        vertical-align: middle;
        font-size: 1rem;
    }

    .pae-label, .label {
        display: block;
    }

    .pae-item, .item {
        @extend .clearfix;

        display: block;
    }

    &.pae-inline, &.inline {
        .pae-item, .item {
            display: inline-block;
            margin-right: 1.25rem;
        }
    }
}

.pae-radio, .radio {
    [type="radio"] {
        width: 1px;
        height: 1px;
        border: 0;
        clip: rect(0 0 0 0);
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;

        &:checked + .pae-radio-faux,
        &:checked + .radio-faux,
        &:checked + .pae-radio-label .pae-radio-faux,
        &:checked + .radio-label .radio-faux {
            &:after {
                content: '';
                width: .5rem;
                height: .5rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%,-50%,0);
                border-radius: 50%;
                background: $field-radio-button-active;
            }
        }

        &:focus + .pae-radio-faux,
        &:focus + .radio-faux {
           box-shadow: $field-input-focus-box-shadow;
        }
    }

    .pae-radio-faux, .radio-faux {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        border: 1px solid $field-border-color;
        border-radius: 50%;
        background: $white;
        margin: -3px 10px 0 0;
        transition: border .1s linear,background-color .1s linear;
    }

    &.pae-error, &.error {
        color: $field-text-color;
        font-style: normal;

        .pae-radio-faux, .radio-faux {
            border: 1px solid $color-state-error-medium;
        }
    }
}

.pae-checkbox, .checkbox {
    [type="checkbox"] {
        width: 1px;
        height: 1px;
        border: 0;
        clip: rect(0 0 0 0);
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;

        &:checked + .pae-checkbox-faux,
        &:checked + .checkbox-faux,
        &:checked + .pae-checkbox-label .pae-checkbox-faux,
        &:checked + .checkbox-label .checkbox-faux {

            &:after {
                display: block;
                content: '';
                height: .25rem;
                width: .5rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%,-50%,0) rotate(-45deg);
                border-bottom: 2px solid $field-checkbox-active;
                border-left: 2px solid $field-checkbox-active;
            }
        }

        &:focus + .pae-checkbox-faux,
        &:focus + .checkbox-faux {
            box-shadow: $field-input-focus-box-shadow;
        }
    }

    .pae-checkbox-faux, .checkbox-faux {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        border: 1px solid $field-border-color;
        border-radius: .125rem;
        background: $white;
        margin: -3px 10px 0 0;
        transition: border .1s linear,background-color .1s linear;

    }

    &.pae-error, &.error {
        color: $field-text-color;
        font-style: normal;

        .pae-checkbox-faux, .checkbox-faux {
            border: 1px solid $color-state-error-medium;
        }
    }
}


.pae-radio-button-group, .radio-button-group {
    display: inline-flex;
    //border: 1px solid $field-border-color;
    border-radius: $field-border-radius;

    .pae-radio-button-label, .radio-button-label {
        padding: 6px 1rem;
        color: $color-primary-lightest;
    }

    .pae-radio-button, .radio-button {
        margin: 0;
        padding: 0;
        position: relative;
        border-radius: 0;
        border-left: 1px solid #FF9F43;
        color: $color-primary-lightest;
        display: flex;
        background-clip: padding-box;
        transition: color 50ms linear,background-color 50ms linear;

        &:first-child {
            border-radius: $field-border-radius 0 0 $field-border-radius;
            border-left: none;
        }

        &:last-child {
            border-radius: 0 $field-border-radius $field-border-radius 0;
        }

        &:hover {
            cursor: pointer;
        }

        [type="radio"] {
            width: 1px;
            height: 1px;
            border: 0;
            clip: rect(0 0 0 0);
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;

            &:checked + .pae-radio-button-label,
            &:checked + .radio-button-label{
                background-color: $color-primary;
                color: $color-primary-lightest;
            }

            &:checked + .pae-radio-button-label .pae-radio-faux,
            &:checked + .radio-button-label .radio-faux {
                background-color: transparent;
            }
        }

        .pae-radio-faux, .radio-faux {
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: center;
            vertical-align: middle;
            position: relative;
            transition: border .1s linear,background-color .1s linear;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.pae-form-inline, .form-inline {
    label {
        display: inline-block;
        margin: 12px 10px 0 0;
        vertical-align: top;
    }

    .pae-form-control, .form-control {
        display: inline-block;
    }

    .pae-select-container, .select-container {
        display: inline-block;
    }
}

.pae-form-group, .form-group {
    margin-bottom: 12px;
    position: relative;
}

.pae-error, .error { 
    @include setType(14, 0);

    color: $color-state-error;
    display: block;
    font-style: italic;
}
